{% extends "template_generico.html" %}

{% block content %}

<!-- Button trigger modal -->

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" style="padding-bottom: 20px">
  <button type="button" class="btn bg-danger">
    <a class="text-white" href="{% url 'deleteAll' tav=numTav %}">
    ELIMINA TUTTO
    </a>
  </button>

  <button type="button" class="btn bg-dark text-white" data-toggle="modal" data-target="#exampleModalLong">
    MODALITA' PAGAMENTO
  </button>
</div>


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-2 py-2">
      <h2 class="display-5">TAVOLO</h2>
    </div>
    <div class="shadow-sm mx-auto pre-scrollable" style="width: 90%; height: 450px; border-radius: 21px 21px 0 0;">
      {% if spec_tav %}
        <ul class="list-group">
          {% for spec in spec_tav %}
            <li class="border-bottom">
              {{spec.prodotto}}
              <span class="badge badge-light">{{spec.prodotto.prezzo_vendita}} € </span>
              <a href="{% url 'deleteProdotto' pk=spec.pk tav=numTav %}">
                <button class="btn btn-danger btn-sm">ELIMINA</button>
              </a>
            </li>

          {% endfor %}
        </ul>
      {% else %}
        <h3>TAVOLO LIBERO</h3>
      {% endif %}
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-2 p-2">
      <h2 class="display-5">ARTICOLI</h2>
    </div>
    <div class="shadow-sm mx-auto text-white pre-scrollable" style="width: 90%; height: 450px; border-radius: 21px 21px 0 0;">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Cerca">
      <ul class="list-group" id="myUL">
        {% for prod in prodotti %}
          <li class="border-bottom">
            <a href="{% url 'insertProdotto' pk=prod.pk tav=numTav %}">
              {{prod.descrizione_breve}}
              <span class="badge badge-light">{{prod.prezzo_vendita}} €</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModalLong">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Scegli la modalità di pagamento: </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <p>TOTALE: <h2>{{conto}}</h2></p>
      </div>
      <div class="modal-footer">
        <!--Questi due tasti devono eseguire un'insert nel DB per il salvataggio dello scontrino
        quello CONTANTI dovrebbe far uscire lo scontrino-->
        <button class="btn btn-outline-dark btn-sm" type="button"><a href="{% url 'scontrinoo' tav=numTav tipoPag='pos' %}">POS</a></button>
        <button class="btn btn-dark btn-sm" type="button"><a href="{% url 'scontrinoo' tav=numTav tipoPag='contanti' %}">CONTANTI</a></button>
      </div>
    </div>
  </div>
</div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}